$black: #272a31;
$orange: #ec5242;
$gray: #d3d3d3;
@font-face {
  font-family: cocogoose;
  src: url('src/font/cocogoose_trial.ttf');
}

h6 {
  color: $orange;
}

.bg-image {
  background-image: url("src/img/background.jpg");
  height: 500px;
  background-size: cover;  
}

.title {
  color: $orange;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
}

.sub-title {  
  font-size: 50px;
  color: #ec5242;
  font-family: cocogoose, sans-serif;
  font-weight: 700;
  width: 70%;
}

.description {
  width: 50%;
}

.bg-image-program {
  background-image: url('src/img/background_dark.jpg');
  height: 100vh;
}

.icons {
  width: 50px;
  height: 50px;  
}

.vector {
  margin: 5px;
  width: 50px;
  border: 1px solid $orange;
}

.li-companies {
  list-style: none;
}

.companies {
  background-color: rgba(60, 62, 70, 0.993);
  height: 100%;
}

.facebook, .twitter {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 20px;
  height: 20px
}

.bg-cards {
  background-color: rgb(32, 32, 37);
  filter:alpha(opacity=100);
  -moz-opacity:0.7;opacity:0.8;
}

@media (max-width: 991px) {
  .logo, .media {
    display: none;
  }

  .description {
    width: 100%;
  }
  .sub-title {
    width: 100%;
    font-size: 36px;
  }
}