$black: #272a31;
$orange: #ec5242;
$gray: #d3d3d3;
@font-face {
  font-family: cocogoose;
  src: url('src/font/cocogoose_trial.ttf');
}

h6 {
  color: $orange;
}

.bg-image {
  background-image: url("../src/img/duotone.png");
  height: 100%;
  background-size: cover;  
}

.title {
  color: $orange;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
}

.sub-title {  
  font-size: 50px;
  color: #ec5242;
  font-family: cocogoose, sans-serif;
  font-weight: 700;
  width: 70%;
}

.sub-about {
  color: $orange;
  font-size: 50px;
  font-family: cocogoose, sans-serif;
  font-weight: 900;
  width: 50%;
}

.description {
  width: 50%;
}

.bg-image-program {
  background-image: url('../src/img/background_dark.jpg');
}

.icons {
  width: 50px;
  height: 50px;  
}

.vector {
  margin: 5px;
  width: 50px;
  border: 1px solid $orange;
}

.li-companies {
  list-style: none;
}

.companies {
  background-color: rgba(60, 62, 70, 0.993);
  height: 100%;
}

.facebook, .twitter {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 20px;
  height: 20px
}

.bg-cards {
  background-color: rgb(32, 32, 37);
  filter:alpha(opacity=100);
  -moz-opacity:0.7;opacity:0.8;
}

.bg-about {
  background-image: url('../src/img/back_about.jpg');    
}

.description-about {
  width: 50%;  
}

.vector-separate {
  border: 1px solid $gray;
  width: 100%;
}

.img-1 {
  width: 340px;
  height: 200px;
  background-image: url('../src/img/family_beach.png');
  background-size: cover;
}

.img-2 {
  width: 340px;
  height: 200px;
  background-image: url('../src/img/family_ski.png');
  background-size: cover;
}

.person {  
  width: 135px;
  height: 135px;
  // background-image: url('../src/img/person1.jpeg');
  background-size: cover;
  position: relative;
}

.person img {
  width: 135px;
  height: 135px;
}

.chess {
  width: 90px;
  height: 90px;
  background-image: url('../src/img/chess_board.svg');
  background-size: cover;
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: -1;
}

.vector-person {
  margin: 5px;
  width: 50px;
  border: 1px solid $gray;  
}

.person-card {
  max-width: 540px;
}

.profesion {
  font-style: italic;
  color: #ec5242;
}

@media (max-width: 991px) {
  .logo, .media {
    display: none;
  }

  .description {
    width: 100%;    
  }

  .description-about {
    width: 100%;
    padding: 10px;
  }
  
  .sub-title {
    width: 100%;
    font-size: 36px;
  }

  .sub-about {
    font-size: 36px;
  }

  .person {
    width: 120px;
    height: 120px;
  }

  .card-text {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
  }

  .meet {
    margin-bottom: 15px;
  }
}